:root {
  --text-primary: #212121;
  --sidebar-width: 20vw;
  --chat-input-height: 128px;
  --color-primary: #497799;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: var(--text-primary);
}
button {
  cursor: pointer;
  border: none;
}
